body {
  background-color: #333;
  color: #eee;
  font-family: sans-serif;
  margin: auto;
  max-width: 1280px;
}

.navbar {
  background-color: #333;
  border-radius: 2px;
  max-width: 800px;
}

a {
  color: #eee;
  display: inline-block;
  font-size: 15px;
  text-decoration: none;
}

a:hover {
  color: #ffffff;
}

button {
  background-color: #333;
  color: #eee;
}
